USE [master]
GO
/****** Object:  Database [NGANHANG]    Script Date: 12/07/2024 10:57:45 CH ******/
CREATE DATABASE [NGANHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSDLPT_NGANHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER0\MSSQL\DATA\CSDLPT_NGANHANG.mdf' , SIZE = 28672KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CSDLPT_NGANHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER0\MSSQL\DATA\CSDLPT_NGANHANG_log.ldf' , SIZE = 39296KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NGANHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NGANHANG]
GO
/****** Object:  User [HTKN]    Script Date: 12/07/2024 10:57:45 CH ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 12/07/2024 10:57:45 CH ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_99B96AB0FF184EA5BCA7DF1BDB3BC910]    Script Date: 12/07/2024 10:57:45 CH ******/
CREATE ROLE [MSmerge_99B96AB0FF184EA5BCA7DF1BDB3BC910]
GO
/****** Object:  DatabaseRole [MSmerge_2F6C049F75A54C019BBE2FA573359FD9]    Script Date: 12/07/2024 10:57:45 CH ******/
CREATE ROLE [MSmerge_2F6C049F75A54C019BBE2FA573359FD9]
GO
/****** Object:  DatabaseRole [MSmerge_15B42FEC75514E13AAC04B791ED9FF64]    Script Date: 12/07/2024 10:57:45 CH ******/
CREATE ROLE [MSmerge_15B42FEC75514E13AAC04B791ED9FF64]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_99B96AB0FF184EA5BCA7DF1BDB3BC910]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_2F6C049F75A54C019BBE2FA573359FD9]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_15B42FEC75514E13AAC04B791ED9FF64]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 12/07/2024 10:57:45 CH ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[MACN] [nchar](10) NOT NULL,
	[TENCN] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SoDT] [nvarchar](15) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_48D37C4273454B13BB37B9496DFB6EAF]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GD_CHUYENTIEN]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_CHUYENTIEN](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK_CHUYEN] [nchar](9) NOT NULL,
	[NGAYGD] [datetime] NOT NULL CONSTRAINT [DF_GD_CHUYENTIEN_NGAYGD]  DEFAULT (getdate()),
	[SOTIEN] [money] NOT NULL,
	[SOTK_NHAN] [nchar](9) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_258281DC125A4EDA82ADC5D2E5413303]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_GD_CHUYENTIEN] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GD_GOIRUT]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_GOIRUT](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK] [nchar](9) NOT NULL,
	[LOAIGD] [nchar](2) NOT NULL,
	[NGAYGD] [datetime] NOT NULL CONSTRAINT [DF_GD_GOIRUT_NGAYGD]  DEFAULT (getdate()),
	[SOTIEN] [money] NOT NULL CONSTRAINT [DF_GD_GOIRUT_SOTIEN]  DEFAULT ((100000)),
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_FB422FC2E98F4FEF8670E26F1234B522]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_GD_GOIRUT] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[CMND] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[PHAI] [nvarchar](3) NULL,
	[NGAYCAP] [date] NOT NULL,
	[SODT] [nvarchar](15) NOT NULL,
	[MACN] [nchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_0DF01FAA67B24613A0E22E07DE7D3563]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [nchar](10) NOT NULL CONSTRAINT [DF_NhanVien_MANV]  DEFAULT (N'Nam'),
	[HO] [nvarchar](40) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[PHAI] [nvarchar](3) NOT NULL CONSTRAINT [DF_NhanVien_PHAI]  DEFAULT (N'Nam'),
	[SODT] [nvarchar](15) NOT NULL,
	[MACN] [nchar](10) NULL,
	[TrangThaiXoa] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_C38FAC5D1E5947C6BED80DDAE107EB3C]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[SOTK] [nchar](9) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[SODU] [money] NULL DEFAULT ((0)),
	[MACN] [nchar](10) NULL,
	[NGAYMOTK] [datetime] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_912EF8FD61334119BC9CF059C07C9641]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[SOTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[V_DS_PHANMANH]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH]
AS
SELECT  TENCN=PUBS.description, TENSERVER= subscriber_server
   FROM dbo.sysmergepublications PUBS,  dbo.sysmergesubscriptions SUBS
   WHERE PUBS.pubid= SUBS.PUBID  AND PUBS.publisher <> SUBS.subscriber_server 


GO
/****** Object:  View [dbo].[V_DS_PHANMANH_FULL]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH_FULL]
AS
SELECT  TENCN=PUBS.description, TENSERVER= subscriber_server
   FROM dbo.sysmergepublications PUBS,  dbo.sysmergesubscriptions SUBS
   WHERE PUBS.pubid= SUBS.PUBID  AND PUBS.publisher <> SUBS.subscriber_server

GO
/****** Object:  View [dbo].[VIEW_THONGTINTAIKHOAN_KHACHHANG]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_THONGTINTAIKHOAN_KHACHHANG]
AS
SELECT  T.SOTK, 
        T.SODU, 
		K.CMND,
		K.HO, 
		K.TEN, 
		K.DIACHI, 
		K.PHAI,  
		K.SODT,
		T.NGAYMOTK,
		K.MACN AS MACN_KH, 
		T.MACN AS MACN_TK
FROM TaiKhoan T
JOIN KhachHang K ON T.CMND = K.CMND

GO
INSERT [dbo].[ChiNhanh] ([MACN], [TENCN], [DIACHI], [SoDT], [rowguid]) VALUES (N'BENTHANH  ', N'Chi nhánh Bến Thành', N'211 Lê Lợi, Quận 1, TPHCM', N'..', N'6bafac75-40ce-ee11-ba27-6c94664c9d33')
INSERT [dbo].[ChiNhanh] ([MACN], [TENCN], [DIACHI], [SoDT], [rowguid]) VALUES (N'TANDINH   ', N'Chi nhánh Tân Định', N'234 Hai Bà Trưng, phường Đakao, Quận 1, TPHCM', N'...', N'6cafac75-40ce-ee11-ba27-6c94664c9d33')
SET IDENTITY_INSERT [dbo].[GD_CHUYENTIEN] ON 

INSERT [dbo].[GD_CHUYENTIEN] ([MAGD], [SOTK_CHUYEN], [NGAYGD], [SOTIEN], [SOTK_NHAN], [MANV], [rowguid]) VALUES (2002, N'020012003', CAST(N'2024-06-28 17:09:24.697' AS DateTime), 150000.0000, N'020032003', N'NV01      ', N'eee8667e-3635-ef11-ba4b-6c94664c9d30')
INSERT [dbo].[GD_CHUYENTIEN] ([MAGD], [SOTK_CHUYEN], [NGAYGD], [SOTIEN], [SOTK_NHAN], [MANV], [rowguid]) VALUES (2003, N'019921993', CAST(N'2024-07-02 21:25:04.360' AS DateTime), 100000.0000, N'020032002', N'NV01      ', N'064a35df-7e38-ef11-ba4b-6c94664c9d30')
SET IDENTITY_INSERT [dbo].[GD_CHUYENTIEN] OFF
SET IDENTITY_INSERT [dbo].[GD_GOIRUT] ON 

INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid]) VALUES (1, N'020032002', N'GT', CAST(N'2024-07-09 22:51:07.790' AS DateTime), 100000.0000, N'NV01      ', N'4974be0d-0b3e-ef11-ba4c-6c94664c9d30')
INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid]) VALUES (2, N'020012003', N'RT', CAST(N'2024-07-09 22:51:24.093' AS DateTime), 150000.0000, N'NV01      ', N'ae517617-0b3e-ef11-ba4c-6c94664c9d30')
INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid]) VALUES (2003, N'020001990', N'GT', CAST(N'2024-06-28 17:07:49.363' AS DateTime), 250000.0000, N'NV01      ', N'687d9445-3635-ef11-ba4b-6c94664c9d30')
SET IDENTITY_INSERT [dbo].[GD_GOIRUT] OFF
INSERT [dbo].[KhachHang] ([CMND], [HO], [TEN], [DIACHI], [PHAI], [NGAYCAP], [SODT], [MACN], [rowguid]) VALUES (N'1111111111', N'Tran Thanh', N'Tam', N'Tien Giang', N'Nam', CAST(N'2010-04-25' AS Date), N'0969895549', N'TANDINH   ', N'd3ab9ffd-72d8-ee11-ba2a-7c8ae19731f6')
INSERT [dbo].[KhachHang] ([CMND], [HO], [TEN], [DIACHI], [PHAI], [NGAYCAP], [SODT], [MACN], [rowguid]) VALUES (N'1111122222', N'Le Huynh', N'Thi', N'Tien Giang', N'Nu', CAST(N'2010-04-25' AS Date), N'0927283786', N'BENTHANH  ', N'9f3059e0-2535-ef11-ba4b-6c94664c9d30')
INSERT [dbo].[KhachHang] ([CMND], [HO], [TEN], [DIACHI], [PHAI], [NGAYCAP], [SODT], [MACN], [rowguid]) VALUES (N'1111133333', N'Tran Huynh Trung', N'Thanh', N'Binh Dinh', N'Nam', CAST(N'2010-04-25' AS Date), N'0289393272', N'TANDINH   ', N'ebd7c452-2635-ef11-ba4b-6c94664c9d30')
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [CMND], [DIACHI], [PHAI], [SODT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'NV01      ', N'Nguyen Anh', N'Minh', N'1234567899', N'Tien Giang', N'Nam', N'0982612347', N'BENTHANH  ', 0, N'aaa0f4b8-2635-ef11-ba4b-6c94664c9d30')
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [CMND], [DIACHI], [PHAI], [SODT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'NV02      ', N'Le Thanh', N'Trung', N'1122334455', N'An Giang', N'Nam', N'0981728631', N'TANDINH   ', 0, N'abdfb9d7-2635-ef11-ba4b-6c94664c9d30')
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [CMND], [DIACHI], [PHAI], [SODT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'NV03      ', N'Le Thu', N'Ngan', N'1231231234', N'Quan 9', N'Nu', N'0927236111', N'BENTHANH  ', 0, N'573372f9-2635-ef11-ba4b-6c94664c9d30')
INSERT [dbo].[TaiKhoan] ([SOTK], [CMND], [SODU], [MACN], [NGAYMOTK], [rowguid]) VALUES (N'019902003', N'2222211111', 1000000.0000, N'BENTHANH  ', CAST(N'2024-02-18 00:00:00.000' AS DateTime), N'ca3d10dd-2835-ef11-ba4b-6c94664c9d30')
INSERT [dbo].[TaiKhoan] ([SOTK], [CMND], [SODU], [MACN], [NGAYMOTK], [rowguid]) VALUES (N'019921993', N'2222222222', 120000.0000, N'TANDINH   ', CAST(N'2024-03-18 00:00:00.000' AS DateTime), N'd3f8bb3a-2935-ef11-ba4b-6c94664c9d30')
INSERT [dbo].[TaiKhoan] ([SOTK], [CMND], [SODU], [MACN], [NGAYMOTK], [rowguid]) VALUES (N'020001990', N'4444444444', 990000.0000, N'TANDINH   ', CAST(N'2024-02-03 00:00:00.000' AS DateTime), N'66570881-2935-ef11-ba4b-6c94664c9d30')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_ChiNhanh]    Script Date: 12/07/2024 10:57:45 CH ******/
ALTER TABLE [dbo].[ChiNhanh] ADD  CONSTRAINT [UK_ChiNhanh] UNIQUE NONCLUSTERED 
(
	[TENCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_245575913]    Script Date: 12/07/2024 10:57:45 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_245575913] ON [dbo].[ChiNhanh]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_277576027]    Script Date: 12/07/2024 10:57:45 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_277576027] ON [dbo].[GD_CHUYENTIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_309576141]    Script Date: 12/07/2024 10:57:45 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_309576141] ON [dbo].[GD_GOIRUT]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_KhachHang_CN_TEN_HO]    Script Date: 12/07/2024 10:57:45 CH ******/
CREATE NONCLUSTERED INDEX [IX_KhachHang_CN_TEN_HO] ON [dbo].[KhachHang]
(
	[MACN] ASC,
	[TEN] ASC,
	[HO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_341576255]    Script Date: 12/07/2024 10:57:45 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_341576255] ON [dbo].[KhachHang]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_373576369]    Script Date: 12/07/2024 10:57:45 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_373576369] ON [dbo].[NhanVien]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_CMND_TTX]    Script Date: 12/07/2024 10:57:45 CH ******/
CREATE NONCLUSTERED INDEX [UK_CMND_TTX] ON [dbo].[NhanVien]
(
	[CMND] ASC,
	[TrangThaiXoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_421576540]    Script Date: 12/07/2024 10:57:45 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_421576540] ON [dbo].[TaiKhoan]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_NhanVien]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan] FOREIGN KEY([SOTK_CHUYEN])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan1] FOREIGN KEY([SOTK_NHAN])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan1]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [FK_GD_GOIRUT_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_NhanVien]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [FK_GD_GOIRUT_TaiKhoan] FOREIGN KEY([SOTK])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_TaiKhoan]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_ChiNhanh]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChiNhanh]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_ChiNhanh]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_KhachHang] FOREIGN KEY([CMND])
REFERENCES [dbo].[KhachHang] ([CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_KhachHang]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [CK_GD_CHUYENTIEN] CHECK  (([SOTIEN]>(0)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [CK_GD_CHUYENTIEN]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_0C7EB3B1_1AB3_4577_92DB_FABF7F86F75D] CHECK NOT FOR REPLICATION (([MAGD]>=(1) AND [MAGD]<=(1001) OR [MAGD]>(1001) AND [MAGD]<=(2001)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [repl_identity_range_0C7EB3B1_1AB3_4577_92DB_FABF7F86F75D]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [CK_LOAIGD] CHECK  (([LOAIGD]='RT' OR [LOAIGD]='GT'))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_LOAIGD]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [CK_SOTIEN] CHECK  (([SOTIEN]>=(100000)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_SOTIEN]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_28110C6A_77F8_4EA2_9950_416DD83B81D6] CHECK NOT FOR REPLICATION (([MAGD]>=(1) AND [MAGD]<=(1001) OR [MAGD]>(1001) AND [MAGD]<=(2001)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [repl_identity_range_28110C6A_77F8_4EA2_9950_416DD83B81D6]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [CK_KhachHang_PHAI] CHECK  (([PHAI]=N'Nam' OR [PHAI]=N'Nu'))
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [CK_KhachHang_PHAI]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [CK_TaiKhoan_SoDu] CHECK  (([SODU]>=(0)))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CK_TaiKhoan_SoDu]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_USERNAME]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CHECK_USERNAME]
    @USERNAME VARCHAR(50) 
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM sys.database_principals WHERE name = @USERNAME)
    BEGIN
        RETURN 1 
    END
	IF EXISTS (SELECT 1 FROM LINK1.NGANHANG.sys.database_principals WHERE name = @USERNAME)
    BEGIN
        RETURN 1
    END
	RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHUYENNHANVIEN]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHUYENNHANVIEN] @MANV NCHAR(10), @MACNMOI NCHAR(10), @MANVMOI NCHAR(10)
	AS
	BEGIN
			DECLARE @HO NVARCHAR(40)
			DECLARE @TEN NVARCHAR(10)
			DECLARE @CMND NCHAR(10)
			DECLARE @DIACHI NVARCHAR(100)
			DECLARE @PHAI NCHAR(3)
			DECLARE @SODT NVARCHAR(15)
			DECLARE @TEMPMANV NCHAR(10) = NULL
			-- Nếu tồn tại thì đổi trạng thái
			SELECT @HO = HO,  @TEN = TEN,@CMND = CMND, @DIACHI = DIACHI, @PHAI = PHAI, @SODT = SODT FROM NhanVien WHERE MANV = @MANV
			SELECT @TEMPMANV = MANV FROM LINK0.NGANHANG.dbo.NhanVien WHERE CMND = @CMND AND MACN = @MACNMOI
			IF (@TEMPMANV IS NOT NULL)
			BEGIN
				UPDATE LINK0.NGANHANG.dbo.NhanVien
				SET TrangThaiXoa = 0
				WHERE MANV = @TEMPMANV
			END
			ELSE
			-- Nếu chưa tồn tại thì thêm vào bằng cách lấy MANVMOI
			BEGIN
				INSERT INTO LINK0.NGANHANG.dbo.NhanVien (MANV, HO, TEN, CMND,DIACHI, PHAI, SODT, MACN, TrangThaiXoa)
				VALUES (@MANVMOI, @HO, @TEN, @CMND,@DIACHI, @PHAI, @SODT, @MACNMOI, 0) 
			END
	END


GO
/****** Object:  StoredProcedure [dbo].[SP_CHUYENNHANVIEN_SONGSONG]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHUYENNHANVIEN_SONGSONG] @MANV NCHAR(10), @MACNMOI NCHAR(10), @MANVMOI NCHAR(10)
AS
DECLARE @LGNAME NVARCHAR(50) 
SET XACT_ABORT ON
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN
	SET XACT_ABORT ON 
	BEGIN DISTRIBUTED TRANSACTION
		-- Thêm nhân viên vào chi nhánh còn lại
		DECLARE @STR1 NVARCHAR(4000)
		SET @STR1 = 'EXEC SP_CHUYENNHANVIEN ''' + @MANV + ''', ''' + @MACNMOI + ''', ''' + @MANVMOI + ''''
		IF  EXISTS (SELECT job_id FROM msdb.dbo.sysjobs_view WHERE name = N'Job_1')
			EXEC msdb.dbo.sp_delete_job @job_name=N'Job_1' 
		EXECUTE msdb.dbo.sp_add_job @job_name = N'Job_1', @start_step_id = 1
		EXECUTE msdb.dbo.sp_add_jobserver  @job_name = N'Job_1', @server_name =  @@SERVERNAME
		EXECUTE msdb.dbo.sp_add_jobstep  @job_name =  N'Job_1' , @step_id = 1, @step_name =    'ThemNhanVien', @command =  @STR1 ,   @server = @@SERVERNAME, @database_name = 'NGANHANG'
		EXECUTE msdb.dbo.sp_start_job    @job_name =  N'Job_1'
		-- Xóa nhân viên chi nhánh hiện tại
		UPDATE dbo.NhanVien
		SET TrangThaiXoa = 1
		WHERE MANV = @MANV
		-- Kiểm tra xem Nhân Viên đã có login chưa, có thì diasable -> tái sử dụng
		SET @LGNAME = CAST((SELECT SUSER_SNAME(SID) FROM SYS.SYSUSERS WHERE NAME = CAST(@MANV AS NVARCHAR)) AS VARCHAR(50))
		IF @LGNAME IS NOT NULL
		BEGIN
			DECLARE @SQL NVARCHAR(MAX)
			IF EXISTS (SELECT * FROM sys.sql_logins WHERE name = @LGNAME)
			BEGIN
				SET @SQL = 'ALTER LOGIN ' + @LGNAME + ' DISABLE;'
				EXEC sp_executesql @SQL
			END
		END
	COMMIT TRANSACTION
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GIAODICHCHUYENTIEN]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GIAODICHCHUYENTIEN]
	@SOTK_NHAN NCHAR(9), @SOTK_CHUYEN NCHAR(9), @SOTIEN MONEY, @MANV NCHAR(10)
AS
SET XACT_ABORT ON
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION
BEGIN TRY
	IF EXISTS(SELECT TK.SOTK FROM TAIKHOAN TK WHERE TK.SOTK = @SOTK_CHUYEN)
		BEGIN
			UPDATE TAIKHOAN
			SET SODU = SODU - @SOTIEN
			WHERE SOTK = @SOTK_CHUYEN
		END
	IF EXISTS(SELECT TK.SOTK FROM TAIKHOAN TK WHERE TK.SOTK = @SOTK_NHAN)
		BEGIN
			UPDATE TAIKHOAN
			SET SODU = SODU + @SOTIEN
			WHERE SOTK = @SOTK_NHAN
		END
	IF EXISTS(SELECT NV.MANV FROM NHANVIEN NV WHERE NV.MANV = @MANV)
		BEGIN
			INSERT INTO dbo.GD_CHUYENTIEN(SOTK_CHUYEN,NGAYGD,SOTIEN,SOTK_NHAN,MANV)
				   VALUES(@SOTK_CHUYEN, GETDATE(), @SOTIEN, @SOTK_NHAN, @MANV)
		END
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	IF (@@TRANCOUNT > 0)
	BEGIN
		ROLLBACK TRANSACTION
		RAISERROR('Lỗi khi chuyển tiền. Vui lòng kiểm tra.', 16, 1)
	END
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[SP_GIAODICHGUIRUT]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GIAODICHGUIRUT]
@TYPE NCHAR(2), @SOTIEN MONEY, @SOTK NCHAR(9), @MANV NCHAR(10)
AS
SET XACT_ABORT ON
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION
BEGIN TRY
	IF(@TYPE = 'GT')
		BEGIN
			IF EXISTS(SELECT TK.SOTK FROM TAIKHOAN TK WHERE TK.SOTK = @SOTK)
				BEGIN
					UPDATE TAIKHOAN
					SET SODU = SODU + @SOTIEN
					WHERE SOTK = @SOTK
				END
		END
	IF(@TYPE = 'RT')
		BEGIN
			IF EXISTS(SELECT TK.SOTK FROM TAIKHOAN TK WHERE TK.SOTK = @SOTK)
				BEGIN
					UPDATE TAIKHOAN
					SET SODU = SODU - @SOTIEN
					WHERE SOTK = @SOTK
				END
		END
	IF EXISTS(SELECT NV.MANV FROM NHANVIEN NV WHERE NV.MANV = @MANV)
		BEGIN
			INSERT INTO dbo.GD_GOIRUT(SOTK, LOAIGD, NGAYGD, SOTIEN, MANV)
				   VALUES(@SOTK, @TYPE, GETDATE(), @SOTIEN, @MANV)
		END
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	IF (@@TRANCOUNT > 0)
	BEGIN
		ROLLBACK TRANSACTION
		RAISERROR('Lỗi khi gởi rút tiền. Vui lòng kiểm tra.', 16, 1)
	END
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRAGIAODICHNHANVIEN]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KIEMTRAGIAODICHNHANVIEN] @MANV nchar(10)
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM GD_CHUYENTIEN WHERE MANV = @MANV)
        RETURN 1
    ELSE
    IF EXISTS (SELECT 1 FROM GD_GOIRUT WHERE MANV = @MANV)
        RETURN 1
    ELSE
        RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRAKHACHHANG]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KIEMTRAKHACHHANG]
	@CMND NCHAR(10)
AS
BEGIN
	IF EXISTS(SELECT CMND FROM dbo.KHACHHANG WHERE dbo.KHACHHANG.CMND = @CMND)
		RETURN 1
	IF EXISTS(SELECT CMND FROM LINK2.NGANHANG.dbo.KHACHHANG KH WHERE KH.CMND = @CMND)
		RETURN 2  
	RETURN 0 
END

GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRANHANVIEN]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KIEMTRANHANVIEN]
	@MANV NCHAR(10)
AS
BEGIN
	IF EXISTS(SELECT NV.MANV FROM NhanVien NV WHERE NV.MANV = @MANV)
		RETURN 1
	IF EXISTS(SELECT NV.MANV FROM LINK0.NGANHANG.dbo.NhanVien NV WHERE NV.MANV = @MANV)
		RETURN 1
	RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRASTK]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KIEMTRASTK]
    @SOTK NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @return_value INT;

    IF EXISTS (SELECT 1 FROM TAIKHOAN WHERE SOTK = @SOTK)
    BEGIN
        SET @return_value = 1; -- Tài khoản tồn tại
    END
    ELSE
    BEGIN
        SET @return_value = 0; -- Tài khoản không tồn tại
    END

    SELECT 'Return Value' = @return_value;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRATAIKHOAN]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KIEMTRATAIKHOAN]
    @SoTK nchar(9)
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM GD_CHUYENTIEN WHERE SOTK_CHUYEN = @SoTK OR SOTK_NHAN = @SoTK)
        RETURN 1
    ELSE
    IF EXISTS (SELECT 1 FROM GD_GOIRUT WHERE SOTK = @SoTK)
        RETURN 1
    IF EXISTS (SELECT 1 FROM TAIKHOAN WHERE SODU <> 0 AND SOTK = @SoTK)
        RETURN 1
    ELSE
        RETURN 0 
END

GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRATONTAINHANVIEN]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KIEMTRATONTAINHANVIEN]
	@MANV NCHAR(10), @MACN NCHAR(10)
AS
BEGIN
	IF EXISTS(SELECT NV.CMND FROM LINK0.NGANHANG.dbo.NhanVien NV WHERE NV.MANV = @MANV AND MACN = @MACN) RETURN 1
	RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYMANVMOI]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAYMANVMOI] @MANV NCHAR(10)
AS
BEGIN	
	DECLARE @CMND NCHAR(10)	
	SELECT @CMND = NV.CMND  FROM NhanVien NV WHERE NV.MANV = @MANV
	SELECT NV.MANV FROM LINK0.NGANHANG.dbo.NhanVien NV WHERE NV.CMND = @CMND AND NV.MANV <> @MANV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYQUYENTHEONHANVIEN]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[SP_LAYQUYENTHEONHANVIEN]
@MANV NCHAR(10)
AS
BEGIN
    DECLARE @UserID NVARCHAR(255), @RoleID NVARCHAR(255)

    SELECT @UserID = DP.principal_id 
    FROM sys.database_principals DP
    WHERE DP.name = @MANV

    SELECT @RoleID = DRM.role_principal_id 
    FROM sys.database_role_members DRM 
    WHERE DRM.member_principal_id = @UserID

    SELECT name 
    FROM sys.database_principals SP 
    WHERE SP.principal_id = @RoleID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYTHONGTINKHACHHANG]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAYTHONGTINKHACHHANG]
@STK NCHAR(9)
AS
BEGIN
	DECLARE @CMND NCHAR(10)
	SELECT @CMND = CMND FROM TAIKHOAN WHERE SOTK = @STK
	SELECT HOTEN = LTRIM(RTRIM(HO)) +' '+ LTRIM(TEN) FROM KHACHHANG WHERE CMND = @CMND
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAYTHONGTINNHANVIEN]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAYTHONGTINNHANVIEN]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50), @UID INT
SELECT @UID= UID, @TENUSER=NAME FROM sys.sysusers 
     WHERE sid = SUSER_SID(@TENLOGIN)
 
SELECT MANV = @TENUSER, 
	   HOTEN = (SELECT LTRIM(RTRIM(HO)) +' '+ LTRIM(TEN) FROM NHANVIEN WHERE MANV = @TENUSER ),
	   TENNHOM= NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= @UID)

GO
/****** Object:  StoredProcedure [dbo].[SP_LIETKECACTAIKHOANMOTRONGMOTKHOANTHOIGIANCUACHINHANH]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LIETKECACTAIKHOANMOTRONGMOTKHOANTHOIGIANCUACHINHANH]
	@NGAYBD DATETIME,
	@NGAYKT DATETIME,
	@MACN NCHAR(10)
AS
BEGIN
	SELECT SOTK, CMND, SODU, NGAYMOTK, MACN
	FROM TaiKhoan
	WHERE NGAYMOTK BETWEEN @NGAYBD AND @NGAYKT 
	AND (@MACN = 'HAICN' OR MACN = @MACN)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LIETKEKHACHHANGTHEOTUNGCHINHANH]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LIETKEKHACHHANGTHEOTUNGCHINHANH] @MACN NCHAR(10)
AS
BEGIN
	SELECT HO, TEN, CMND, NGAYCAP, SODT, DIACHI, MACN
	FROM LINK2.NGANHANG.DBO.KhachHang WHERE (@MACN = 'TATCA' OR MACN= @MACN)
	ORDER BY MACN, TEN, HO 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SAOKEGIAODICHMOTTAIKHOANTRONGMOTKHOANTHOIGIAN]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SAOKEGIAODICHMOTTAIKHOANTRONGMOTKHOANTHOIGIAN]
	@SOTAIKHOAN NVARCHAR(9), @NGAYBD DATETIME, @NGAYKT DATETIME
AS
DECLARE @SOTIENBANDAU MONEY, @SODU MONEY
DECLARE @tab table(SODUDAU MONEY, NGAYGD DATETIME, LOAIGD NVARCHAR(2), SOTIEN MONEY, SODUSAU MONEY)

SELECT @SODU = SODU FROM TAIKHOAN TK WHERE TK.SOTK = @SOTAIKHOAN


SELECT @SOTIENBANDAU = @SODU + SUM(CASE WHEN GD.LOAIGD = 'RT' THEN GD.SOTIEN WHEN GD.LOAIGD = 'GT' THEN -GD.SOTIEN
WHEN GD.SOTK = @SOTAIKHOAN THEN -GD.SOTIEN ELSE GD.SOTIEN END)
FROM (SELECT NGAYGD, SOTIEN, LOAIGD='CT', SOTK = CT.SOTK_NHAN  FROM LINK0.NGANHANG.DBO.GD_CHUYENTIEN CT WHERE CT.SOTK_NHAN = @SOTAIKHOAN OR CT.SOTK_CHUYEN = @SOTAIKHOAN
UNION SELECT NGAYGD, SOTIEN, LOAIGD, SOTK FROM LINK0.NGANHANG.DBO.GD_GOIRUT WHERE GD_GOIRUT.SOTK = @SOTAIKHOAN) GD
WHERE GD.NGAYGD >= @NGAYBD
 
DECLARE @SODUDAU MONEY, @NGAYGD DATETIME, @LOAIGD NVARCHAR(2), @SOTIEN MONEY, @SODUSAU MONEY, @TK_NHAN NVARCHAR(9), @TEMP MONEY
DECLARE cursorTK CURSOR 
FOR SELECT GD.NGAYGD, GD.LOAIGD, GD.SOTIEN, GD.SOTK
	FROM (SELECT NGAYGD, SOTIEN, LOAIGD='CT', SOTK = CT.SOTK_NHAN  FROM LINK0.NGANHANG.DBO.GD_CHUYENTIEN CT WHERE CT.SOTK_NHAN = @SOTAIKHOAN OR CT.SOTK_CHUYEN = @SOTAIKHOAN
	UNION SELECT NGAYGD, SOTIEN, LOAIGD, SOTK FROM LINK0.NGANHANG.DBO.GD_GOIRUT WHERE GD_GOIRUT.SOTK = @SOTAIKHOAN) GD
	Where GD.NGAYGD BETWEEN @NGAYBD AND @NGAYKT
	ORDER BY GD.NGAYGD

OPEN cursorTK
FETCH NEXT FROM cursorTK
      INTO @NGAYGD, @LOAIGD, @SOTIEN, @TK_NHAN
SET @SODUDAU = @SOTIENBANDAU
IF(@LOAIGD = 'RT')
			SET @SODUSAU = @SODUDAU - @SOTIEN
	ELSE IF(@LOAIGD = 'GT')
			SET @SODUSAU = @SODUDAU + @SOTIEN
	ELSE IF(@TK_NHAN = @SOTAIKHOAN)
			SET @SODUSAU = @SODUDAU + @SOTIEN
	ELSE
			SET @SODUSAU = @SODUDAU - @SOTIEN
WHILE @@FETCH_STATUS = 0
BEGIN 
	SET @TEMP = @SODUSAU   
	INSERT INTO @tab(SODUDAU, NGAYGD, LOAIGD, SOTIEN, SODUSAU)
	VALUES (@SODUDAU, @NGAYGD, @LOAIGD, @SOTIEN, @SODUSAU) 
	FETCH NEXT FROM cursorTK
      INTO @NGAYGD, @LOAIGD, @SOTIEN, @TK_NHAN
	
	SET @SODUDAU = @TEMP
	IF(@LOAIGD = 'RT')
			SET @SODUSAU = @TEMP - @SOTIEN
	ELSE IF(@LOAIGD = 'GT')
			SET @SODUSAU = @TEMP + @SOTIEN
	ELSE IF(@TK_NHAN = @SOTAIKHOAN)
			SET @SODUSAU = @TEMP + @SOTIEN
	ELSE
			SET @SODUSAU = @TEMP - @SOTIEN
END
SELECT SODUDAU, NGAYGD,(CASE WHEN (LOAIGD = 'CT' AND SODUSAU < SODUDAU) THEN N'CHUYỂN TIỀN' WHEN (LOAIGD = 'CT' AND SODUSAU > SODUDAU) THEN N'NHẬN TIỀN' WHEN LOAIGD = 'GT' THEN N'GỞI TIỀN' ELSE N'RÚT TIỀN' END) AS LOAIGD, SOTIEN, SODUSAU
FROM @tab t
CLOSE cursorTK  
DEALLOCATE cursorTK  

GO
/****** Object:  StoredProcedure [dbo].[SP_SUAKHACHHANG]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SUAKHACHHANG] 
	@CMND nchar(10),
    @HO nvarchar(40),
    @TEN nvarchar(10),
    @DIACHI nvarchar(100),
    @PHAI nvarchar(3),
	@NGAYCAP date,
    @SODT nvarchar(15),
    @MACN nchar(10)
AS
BEGIN
	IF EXISTS (
        SELECT 1
        FROM [KhachHang] kh
        WHERE (kh.SODT = @SODT AND kh.CMND <> @CMND)
    )
    BEGIN
        RAISERROR ('Số điện thoại đã tồn tại tại chi nhánh.', 16, 1)
        RETURN
    END

	IF EXISTS (
        SELECT 1
        FROM [LINK0].[NGANHANG].[dbo].[KhachHang] kh
        WHERE (kh.SODT = @SODT AND kh.CMND <> @CMND AND kh.MACN <>@MACN)
    )
    BEGIN
        RAISERROR ('Số điện thoại đã tồn tại tại chi nhánh khác.', 16, 1)
        RETURN
    END

	IF(@NGAYCAP > GETDATE())
    BEGIN
        RAISERROR ('Ngày cấp không hợp lệ.', 16, 1)
        RETURN
    END

    BEGIN
        UPDATE [dbo].[KhachHang] 
        SET	HO = @Ho, TEN = @Ten, DIACHI = @DiaChi, PHAI = @Phai, NGAYCAP = @NgayCap, SODT = @SODT, MACN = @MaCN
        WHERE CMND = @CMND
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SUANHANVIEN]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SUANHANVIEN]
    @MANV nchar(10),
    @HO nvarchar(40),
    @TEN nvarchar(10),
    @CMND nchar(10),
    @DIACHI nvarchar(100),
    @PHAI nvarchar(3),
    @SODT nvarchar(15),
    @MACN nchar(10),
    @TrangThaiXoa int
AS
BEGIN
    IF EXISTS (
        SELECT 1
        FROM [NhanVien] nv
        WHERE nv.CMND = @CMND AND nv.MANV <> @MANV AND nv.TrangThaiXoa = 0
    )
    BEGIN
        RAISERROR ('Chứng minh nhân dân đã tồn tại tại chi nhánh.', 16, 1)
        RETURN
    END

    IF EXISTS (
        SELECT 1
        FROM [NhanVien] nv
        WHERE nv.SODT = @SODT AND nv.MANV <> @MANV AND nv.TrangThaiXoa = 0
    )
    BEGIN
        RAISERROR ('Số điện thoại đã tồn tại tại chi nhánh.', 16, 1)
        RETURN
    END

    IF EXISTS (
        SELECT 1
        FROM [LINK0].[NGANHANG].[dbo].[NhanVien] nv
        WHERE (nv.CMND = @CMND AND nv.MANV <> @MANV AND nv.TrangThaiXoa = 0 AND @TrangThaiXoa = 0 AND nv.MACN <> @MACN) 
    )
    BEGIN
        RAISERROR ('Chứng minh nhân dân đã tồn tại tại chi nhánh khác.', 16, 1)
        RETURN
    END

	IF EXISTS (
        SELECT 1
        FROM [LINK0].[NGANHANG].[dbo].[NhanVien] nv
        WHERE (nv.SODT = @SODT AND nv.MANV <> @MANV AND nv.TrangThaiXoa = 0 AND @TrangThaiXoa = 0 AND nv.MACN <> @MACN)
    )
    BEGIN
        RAISERROR ('Số điện thoại đã tồn tại tại chi nhánh khác.', 16, 1)
        RETURN
    END

    UPDATE [dbo].[NhanVien]
    SET HO = @HO,
        TEN = @TEN,
        CMND = @CMND,
        DIACHI = @DIACHI,
        PHAI = @PHAI,
        SODT = @SODT,
        MACN = @MACN,
        TrangThaiXoa = @TrangThaiXoa
    WHERE MANV = @MANV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOTAIKHOAN]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TAOTAIKHOAN] @LGNAME VARCHAR(50),  @PASS VARCHAR(50),
    @USERNAME VARCHAR(50),  @ROLE VARCHAR(50)     
AS
    DECLARE @RET INT
    EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS, 'NGANHANG'
    IF (@RET =1)  -- LOGIN NAME BI TRUNG
    BEGIN
        RAISERROR (N'Tên đăng nhập đã tồn tại!', 16, 1)
        RETURN
    END 
    EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
    IF (@RET =1)  -- USER  NAME BI TRUNG
    BEGIN
        EXEC SP_DROPLOGIN @LGNAME
		IF @ROLE = N'CHINHANH'
		BEGIN
			RAISERROR ('Nhân viên này đã có tài khoản!', 16, 2)
			RETURN
		END
		IF @ROLE = N'KHACHHANG'
		BEGIN
			RAISERROR ('Số tài khoản đã tồn tại!', 16, 2)
			RETURN
		END

    END
    EXEC sp_addrolemember @ROLE, @USERNAME
    IF @ROLE = N'NGANHANG'
    BEGIN
        EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
        EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
    END
    IF @ROLE = N'CHINHANH'
    BEGIN
        EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
        EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
		EXEC sp_addsrvrolemember @LGNAME, 'sysadmin'
    END

GO
/****** Object:  StoredProcedure [dbo].[SP_TAOTAIKHOANGIAODICHKHACHHANG]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TAOTAIKHOANGIAODICHKHACHHANG] 
@SOTK NCHAR(9), @CMND NCHAR(10), @SODU MONEY, @CN NCHAR(10), @NGAYMOTK DATETIME
AS
BEGIN
	DECLARE @MACN NCHAR(10)
	SELECT @MACN = MACN FROM LINK2.NGANHANG.dbo.KhachHang WHERE CMND = @CMND
	IF @MACN = @CN
	BEGIN
		INSERT INTO TaiKhoan(SOTK, CMND, SODU, MACN, NGAYMOTK)
		VALUES (@SOTK, @CMND, @SODU, @CN, @NGAYMOTK)
	END
	ELSE
	BEGIN
		INSERT INTO LINK0.NGANHANG.dbo.TaiKhoan(SOTK, CMND, SODU, MACN, NGAYMOTK)
		VALUES (@SOTK, @CMND, @SODU, @CN, @NGAYMOTK)
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEMKHACHHANG]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_THEMKHACHHANG] 
	@CMND nchar(10),
    @HO nvarchar(40),
    @TEN nvarchar(10),
    @DIACHI nvarchar(100),
    @PHAI nvarchar(3),
	@NGAYCAP date,
    @SODT nvarchar(15),
    @MACN nchar(10)
AS
BEGIN
    IF EXISTS (
        SELECT 1
        FROM [KhachHang] kh
        WHERE (kh.CMND = @CMND)	
    )
    BEGIN
        RAISERROR ('Chứng minh nhân dân đã tồn tại tại chi nhánh.', 16, 1)
        RETURN
    END

	IF EXISTS (
        SELECT 1
        FROM [KhachHang] kh
        WHERE (kh.SODT = @SODT)
    )
    BEGIN
        RAISERROR ('Số điện thoại đã tồn tại tại chi nhánh.', 16, 1)
        RETURN
    END

    IF EXISTS (
        SELECT 1
        FROM [LINK0].[NGANHANG].[dbo].[KhachHang] kh
        WHERE (kh.CMND = @CMND AND kh.MACN <> @MACN) 
    )
    BEGIN
        RAISERROR ('Chứng minh nhân dân đã tồn tại tại chi nhánh khác.', 16, 1)
        RETURN
    END

	IF EXISTS (
        SELECT 1
        FROM [LINK0].[NGANHANG].[dbo].[KhachHang] kh
        WHERE (kh.SODT = @SODT)
    )
    BEGIN
        RAISERROR ('Số điện thoại đã tồn tại tại chi nhánh khác.', 16, 1)
        RETURN
    END

	IF(@NGAYCAP > GETDATE())
    BEGIN
        RAISERROR ('Ngày cấp không hợp lệ.', 16, 1)
        RETURN
    END

    BEGIN
        INSERT INTO [dbo].[KhachHang] (CMND, HO, TEN, DIACHI, PHAI, NGAYCAP,SODT, MACN)
        VALUES (@CMND, @HO, @TEN, @DIACHI, @PHAI, @NGAYCAP, @SODT, @MACN)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEMNHANVIEN]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_THEMNHANVIEN]
    @MANV nchar(10),
    @HO nvarchar(40),
    @TEN nvarchar(10),
    @CMND nchar(10),
    @DIACHI nvarchar(100),
    @PHAI nvarchar(3),
    @SODT nvarchar(15),
    @MACN nchar(10),
    @TrangThaiXoa int
AS
BEGIN
    IF EXISTS (
        SELECT 1
        FROM [NhanVien] nv
        WHERE nv.MANV = @MANV 
    )
    BEGIN
        RAISERROR ('Mã nhân viên đã tồn tại.', 16, 1)
        RETURN
    END

    IF EXISTS (
        SELECT 1
        FROM [NhanVien] nv
        WHERE (nv.CMND = @CMND AND nv.TrangThaiXoa = 0)	
    )
    BEGIN
        RAISERROR ('Chứng minh nhân dân đã tồn tại tại chi nhánh.', 16, 1)
        RETURN
    END

	IF EXISTS (
        SELECT 1
        FROM [NhanVien] nv
        WHERE (nv.SODT = @SODT AND nv.TrangThaiXoa = 0)
    )
    BEGIN
        RAISERROR ('Số điện thoại đã tồn tại tại chi nhánh.', 16, 1)
        RETURN
    END

    IF EXISTS (
        SELECT 1
        FROM [LINK0].[NGANHANG].[dbo].[NhanVien] nv
        WHERE (nv.CMND = @CMND AND nv.TrangThaiXoa = 0 AND @TrangThaiXoa = 0 AND nv.MACN <> @MACN) 
    )
    BEGIN
        RAISERROR ('Chứng minh nhân dân đã tồn tại tại chi nhánh khác.', 16, 1)
        RETURN
    END

	IF EXISTS (
        SELECT 1
        FROM [LINK0].[NGANHANG].[dbo].[NhanVien] nv
        WHERE (nv.SODT = @SODT AND nv.TrangThaiXoa = 0 AND @TrangThaiXoa = 0 AND nv.MACN <> @MACN)
    )
    BEGIN
        RAISERROR ('Số điện thoại đã tồn tại tại chi nhánh khác.', 16, 1)
        RETURN
    END

    IF EXISTS (
        SELECT 1
        FROM [dbo].[NhanVien]
        WHERE CMND = @CMND
    )
    BEGIN
        UPDATE [dbo].[NhanVien]
        SET TrangThaiXoa = 0
        WHERE CMND = @CMND
    END
    ELSE IF EXISTS (
        SELECT 1
        FROM [NhanVien] nv
        WHERE (nv.SODT = @SODT)
    )
    BEGIN
        RAISERROR ('Số điện thoại đã tồn tại tại chi nhánh.', 16, 1)
        RETURN
    END
	ELSE
    BEGIN
        INSERT INTO [dbo].[NhanVien] (MANV, HO, TEN, CMND, DIACHI, PHAI, SODT, MACN, TrangThaiXoa)
        VALUES (@MANV, @HO, @TEN, @CMND, @DIACHI, @PHAI, @SODT, @MACN, @TrangThaiXoa)
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THONGTIN_TAIKHOAN_KHACHHANG]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THONGTIN_TAIKHOAN_KHACHHANG]
@MACN NCHAR(10)
AS
BEGIN
    CREATE TABLE #TB
    (
        CMND NCHAR(10),
        HO NVARCHAR(50),
        TEN NVARCHAR(10),
        DIACHI NVARCHAR(100),
        PHAI NVARCHAR(3),
        NGAYCAP DATE,
        SODT NVARCHAR(15),
        MACN NCHAR(10),
        rowguid UNIQUEIDENTIFIER
    )

    INSERT INTO #TB (CMND, HO, TEN, DIACHI, PHAI, NGAYCAP, SODT, MACN, rowguid)
    SELECT CMND, HO, TEN, DIACHI, PHAI, NGAYCAP, SODT, MACN, rowguid
    FROM LINK2.NGANHANG.DBO.KHACHHANG
    WHERE MACN = @MACN

    SELECT  T.SOTK, 
            T.SODU, 
            K.CMND,
            K.HO, 
            K.TEN, 
            K.DIACHI, 
            K.PHAI,  
            K.SODT,
            T.NGAYMOTK,
            K.MACN AS MACN_KH, 
            T.MACN AS MACN_TK
    FROM TAIKHOAN T
    JOIN #TB K ON T.CMND = K.CMND

    DROP TABLE #TB
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THONGTINKHACHHANG]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_THONGTINKHACHHANG]
	@CMND NCHAR(10)
AS
BEGIN
	IF EXISTS(SELECT * FROM dbo.KHACHHANG WHERE dbo.KHACHHANG.CMND = @CMND)
		SELECT * FROM dbo.KHACHHANG WHERE dbo.KHACHHANG.CMND = @CMND
	ELSE
		SELECT * FROM LINK2.NGANHANG.dbo.KHACHHANG KH WHERE KH.CMND = @CMND
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UNDO_CHUYENNHANVIEN_SONGSONG]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UNDO_CHUYENNHANVIEN_SONGSONG] @MANV NCHAR(10), @MACNMOI NCHAR(10), @MANVMOI NCHAR(10)
AS
DECLARE @LGNAME NVARCHAR(50) 
SET XACT_ABORT ON
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN
	SET XACT_ABORT ON 
	BEGIN DISTRIBUTED TRANSACTION
		-- Trả lại nhân viên ở chi nhánh hiện tại
		DECLARE @STR1 NVARCHAR(4000)
		SET @STR1 = 'UPDATE NhanVien SET TrangThaiXoa = 0 WHERE MANV = ''' + @MANV + ''''
		IF  EXISTS (SELECT job_id FROM msdb.dbo.sysjobs_view WHERE name = N'Job_1')
			EXEC msdb.dbo.sp_delete_job @job_name=N'Job_1' 
		EXECUTE msdb.dbo.sp_add_job @job_name = N'Job_1', @start_step_id = 1
		EXECUTE msdb.dbo.sp_add_jobserver  @job_name = N'Job_1', @server_name =  @@SERVERNAME
		EXECUTE msdb.dbo.sp_add_jobstep  @job_name =  N'Job_1' , @step_id = 1, @step_name =    'Undo_ChuyenNhanVien', @command =  @STR1 ,   @server = @@SERVERNAME, @database_name = 'NGANHANG'
		EXECUTE msdb.dbo.sp_start_job    @job_name =  N'Job_1'
		-- Xóa nhân viên ở sever gốc
		UPDATE LINK0.NGANHANG.dbo.NhanVien SET TrangThaiXoa = 1 WHERE MANV = @MANVMOI
		-- Kiểm tra xem Nhân Viên đã có login chưa, có thì enable
		SET @LGNAME = CAST((SELECT SUSER_SNAME(SID) FROM SYS.SYSUSERS WHERE NAME = CAST(@MANV AS NVARCHAR)) AS VARCHAR(50))
		IF @LGNAME IS NOT NULL
		BEGIN
			DECLARE @SQL NVARCHAR(MAX)
			IF EXISTS (SELECT * FROM sys.sql_logins WHERE name = @LGNAME)
			BEGIN
				SET @SQL = 'ALTER LOGIN ' + @LGNAME + ' ENABLE;'
				EXEC sp_executesql @SQL
			END
		END
	COMMIT TRANSACTION
END





GO
/****** Object:  StoredProcedure [dbo].[SP_XOANHANVIEN]    Script Date: 12/07/2024 10:57:45 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_XOANHANVIEN]
    @MANV nchar(10)
AS
BEGIN
    SET NOCOUNT ON;
	BEGIN
		UPDATE NhanVien SET TrangThaiXoa = '1' WHERE MANV = @MANV
	END
    RETURN 0
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'‘GT’ : gởi tiền vào TK , ‘RT’ : rút tiền khỏi TK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GD_GOIRUT', @level2type=N'COLUMN',@level2name=N'LOAIGD'
GO
USE [master]
GO
